<section
    class="fluid-container pt-16 lg:pt-24 animated fade-up delay-400 text-left">

    <h2 class="text-3xl lg:text-4xl font-Poppins font-bold text-secondary tracking-tight">Vragen? <span
            class="text-primary">We staan je graag te woord!</span>
    </h2>

    <p class="mt-2 font-Inter text-base text-tertiary">Een maatwerk website, webshop of een webapplicatie laten maken?
        Neem snel contact met ons op. We streven er na om binnen 24 uur contact op te nemen!</p>

</section>
