/* If you don't want to use the JS in CSS syntax from `tailwind.config.site.js` you can add your own custom CSS here. Use different layers to make sure your CSS either get's purged or not: https://tailwindcss.com/docs/functions-and-directives#layer. CSS in the base layer won't get purged. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@layer base {}

@layer components {

    #button {
        animation: mover 1s infinite alternate;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
    }

    #text {
        animation: Slide_Up 1s ease;
    }

    body {
        background-color: #FAFAFA;
    }

    #image {
        border-radius: 150px 0 0 0;
    }

    @keyframes Slide_Up {
        0% {
            transform: translateY(260px);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }

    /* #gradientTitle {
        background: linear-gradient(to right, rgb(188, 33, 115) 20%, rgb(252, 133, 194) 40%, rgb(219, 54, 142) 60%, rgb(188, 33, 115) 80%);
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 3s linear infinite;
        padding-bottom: 1px;
    }

    @keyframes shine {
        to {
            background-position: 200% center;
        }
    } */

}


@layer utilities {}
