/* If you don't want to use the JS in CSS syntax from `tailwind.config.site.js` you can add your own custom CSS here. Use different layers to make sure your CSS either get's purged or not: https://tailwindcss.com/docs/functions-and-directives#layer. CSS in the base layer won't get purged. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@layer base {}

@layer components {

    #button {
        animation: mover 1s infinite alternate;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
    }

    #text {
        animation: Slide_Up 1s ease;
    }

    body {
        background-color: #FAFAFA;
    }

    #image {
        border-radius: 150px 0 0 0;
    }

    @keyframes Slide_Up {
        0% {
            transform: translateY(260px);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }

    /* animate on scroll */

    .animated {
        transition: .4s;
        opacity: 0;
    }
    
    .fade-up {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    
    .fade-down {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    
    .fade-left {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    
    .fade-right {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    
    .visible {
        opacity: 1;
        -webkit-transform: translate(0px);
        transform: translate(0px);
    }
    
    .delay-100 {
        transition-delay: .1s;
    }
    
    .delay-200 {
        transition-delay: .2s;
    }
    
    .delay-300 {
        transition-delay: .3s;
    }
    
    .delay-400 {
        transition-delay: .4s;
    }
    
    .delay-500 {
        transition-delay: .5s;
    }
    
    .delay-600 {
        transition-delay: .6s;
    }
    
    .delay-700 {
        transition-delay: .7s;
    }
    
    .delay-800 {
        transition-delay: .8s;
    }
    
    .delay-900 {
        transition-delay: .9s;
    }
    
    .delay-1000 {
        transition-delay: 1s;
    }

}


@layer utilities {}
