{{#
@name filter
@desc The filter page builder block.
@set page.page_builder.filter
#}}

<!-- /page_builder/_filter.antlers.html -->
<section class="fluid-container mt-16">
    <div class="flex flex-wrap font-Poppins gap-5 text-lg">
        <p class="text-black">Filter op:</p>
        <div class="flex flex-wrap gap-5">
            <a href="" class="text-secondary hover:text-primary">Alles</a>
            <a href="" class="text-secondary hover:text-primary">Websites</a>
            <a href="" class="text-secondary hover:text-primary">Webshops</a>
            <a href="" class="text-secondary hover:text-primary">Webapplicaties</a>
        </div>
    </div>
</section>
<!-- End: /page_builder/_filter.antlers.html -->
