{{#
@name projectsection
@desc The projectsection page builder block.
@set page.page_builder.projectsection
#}}

<!-- /page_builder/_projectsection.antlers.html -->
<section class="fluid-container">
    <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">

        {{ collection:projecten sort="order" paginate="false" limit="3" as="items" }}
        {{ unless no_results }}
        {{ items }}
        <a href="{{project_link}}" target="_blank" class="animated fade-up delay-400">
            <div
                class="overflow-hidden rounded-lg bg-white hover:bg-cardshover grayscale hover:grayscale-0 transition duration-200 shadow-xl">
                {{project_image}}
                <img src="{{url}}" alt="{{alt}}" width="100%" height="100%" class="object-cover w-full h-full">
                {{/project_image}}

                <div class="p-4 sm:p-6">
                    <h1 class="text-lg font-Poppins text-gray-900">
                        {{project_title}}
                    </h1>

                    <div class="pt-4 pb-2">
                        {{labels}}
                        <span
                            class="inline-block bg-gray-200 rounded-full px-2 py-1 text-xs font-Inter text-black mr-2 mb-2">{{label}}</span>
                        {{/labels}}
                    </div>
                </div>
            </div>
        </a>
        {{ /items }}
        {{ else }}
        <div class="md:col-span-6">
            {{ trans:strings.no_results }}
        </div>
        {{ /unless }}
        {{ partial:components/pagination class="md:col-span-12" }}
        {{ /collection:projecten }}
    </div>
</section>
<!-- End: /page_builder/_projectsection.antlers.html -->
