{{#
@name video-background
@desc The video-background page builder block.
@set page.page_builder.video_background
#}}

<!-- /page_builder/_projectsection.antlers.html -->
<section class="fluid-container">
    <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">

        <!-- card 1 -->
        <a href="">
            <div class="overflow-hidden rounded-lg bg-white hover:bg-cardshover transition duration-200 shadow-xl">
                {{projectimg}}
                <img src="{{url}}" alt="{{alt}}" class="object-cover">
                {{/projectimg}}

                <div class="p-4 sm:p-6">
                    <h1 class="text-lg font-Poppins text-gray-900">
                        {{projecttitle}}
                    </h1>

                    <div class="pt-4 pb-2">
                        <span
                            class="inline-block bg-gray-200 rounded-full px-2 py-1 text-xs font-Inter text-black mr-2 mb-2">Website</span>
                        <span
                            class="inline-block bg-gray-200 rounded-full px-2 py-1 text-xs font-Inter text-black mr-2 mb-2">Wordpress</span>
                        <span
                            class="inline-block bg-gray-200 rounded-full px-2 py-1 text-xs font-Inter text-black mr-2 mb-2">Laravel</span>
                        <span
                            class="inline-block bg-gray-200 rounded-full px-2 py-1 text-xs font-Inter text-black mr-2 mb-2">Internet marketing</span>
                    </div>
                </div>
            </div>
        </a>
</section>
<!-- End: /page_builder/_projectsection.antlers.html -->