{{#
@name video-background
@desc The video-background page builder block.
@set page.page_builder.video_background
#}}

<!-- /page_builder/_techniquecards.antlers.html -->
<section class="fluid-container">
    <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
        <a class="block rounded-xl border bg-white p-8 shadow-xl text-center transitio" href="">
            <img src="/visuals/coding.svg/" class="mx-auto" alt="coding" width="100">

            <h2 class="mt-4 text-xl font-bold text-secondary">Website</h2>

            <h3 class="mt-1 text-sm text-tertiary">
                We realiseren maatwerk
                websites die er echt uitspringen, gebruiksvriendelijk zijn en technisch goed ingericht zijn.
            </h3>
        </a>
    </div>
<section>
<!-- End: /page_builder/_techniquecards.antlers.html -->
