{{#
@name titles-descriptions-custom
@desc The titles-descriptions-custom page builder block.
@set page.page_builder.titles-descriptions-custom
#}}

<!-- /page_builder/_titles-descriptions-custom.antlers.html -->
<section class="fluid-container pt-16 animated fade-up delay-400">

    <h1 class="text-4xl font-Poppins font-bold text-secondary tracking-tight">{{firsttext}} <span
            class="text-primary">{{betweentext}}</span> {{endtext}}
    </h1>

    <p class="mt-2 text-Inter text-md text-tertiary">{{description}}</p>
</section>
<!-- End: /page_builder/_titles-descriptions-custom.antlers.html -->
