{{#
@name video-background
@desc The video-background page builder block.
@set page.page_builder.video_background
#}}

<!-- /page_builder/_titels-descriptions-center.antlers.html -->
<section class="fluid-container pt-24 text-left sm:text-center">
    {{ partial:components/anchor id="{{ id }}" }}

    <h1 class="text-4xl font-Poppins font-bold text-secondary tracking-tight">{{titelblue}} <span
            class="text-primary">{{titelpink}}</span>
    </h1>

    <h2 class="mt-2 text-Inter text-md text-tertiary">{{description}}</h2>
</section>
<!-- End: /page_builder/_titels-descriptions-center.antlers.html -->